# Entorno virtual
venv/
env/

# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos
db.sqlite3
db.sqlite3-journal

# Logs
*.log

# Variables de entorno
.env
.env.local

# Bytecode de Python
__pycache__/
*.pyc
db.sqlite3