asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
cssbeautifier==1.15.4
Django==6.0.3
django-ratelimit==4.1.0
djlint==1.36.4
EditorConfig==0.17.1
idna==3.11
jsbeautifier==1.15.4
json5==0.14.0
pathspec==1.0.4
pillow==12.2.0
psycopg2-binary==2.9.11
python-decouple==3.8
PyYAML==6.0.3
regex==2026.4.4
requests==2.33.1
resend==2.27.0
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.3.0
